NODE_ENV=production
HOST=0.0.0.0
PORT=3000
CONTENT_REPOSITORY=jsonCatalog
CONTENT_ASSET_RESOLVER=staticBaseUrl
CONTENT_CATALOG_PATH=../cloud-http-content/api/catalog.json
STATIC_BASE_URL=https://sleep.zhenwei1.cn
